{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}

    {% endblock %}
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="header">
      <a href="{% url 'task' %}" class="logo">ToDo list</a>
      <div class="header-right">
        <a class="active" href="{% url 'task' %}">Home</a>
        {% if user.is_authenticated %}
            <a>{{ user.username }}</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'reg' %}">Register</a>
            <a href="{% url 'log' %}">Login</a>
        {% endif %}
      </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock %}
</body>
</html>