{% extends 'task/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_js %}
    <script src="{% static "dates_picker.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="center-column">

        <form method="post">
            {{ form|crispy }}
            <input class="btn btn-info" type='submit' name="Create task">
            {% csrf_token %}
        </form>

        <input type="text" name="daterange" value="09/01/2020 - 09/30/2020" />




        <div class="todo-list">
            {% for task in tasks %}
                <div class="item-row">
                    {% if task.completed == 0 %}
                        <span>
                            {{ task }}<br>
                            <strong>{{ task.date }}</strong>
                        </span>
                        <a class="btn btn-sm btn-info" href="{% url 'task:update' task.id %}">Update</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'task:delete' task.id %}">Delete</a>
                    {% else %}
                        <strong><strike>{{ task }}</strike></strong>
                        <a class="btn btn-sm btn-info" href="{% url 'task:update' task.id %}">Update</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'task:delete' task.id %}">Delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
