body{
    background-color: #638cb8;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input::placeholder {
  color: #d3d3d3;
}

.submit{
    background-color: #6BA3E8;
}

.center-column{
    width:600px;
    margin: 50px auto;
    padding: 40px;
    background-color: #638CB8;
    border-radius: 35px;
    box-shadow:  5px 5px 11px #28384a,
        -5px -5px 11px #9ee0ff;

}

.item-row{
    background-color: #906abd;
    margin: 10px;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    box-shadow:  5px 5px 11px #4e6f91,
             -5px -5px 11px #78a9df;
}

.btn-danger{
    background-color: #ffae19;
    border-color: #e59400;
}

.form-group{
    background-color: #638cb8;
    margin: 10px;
    padding: 20px;
    border-radius: 12px;
    box-shadow:  5px 5px 11px #4e6f91,
             -5px -5px 11px #78a9df;
}

.item-delete{
    background-color: #638cb8;
    color: black;
    margin: 10px;
    padding: 20px;
    border-radius: 12px;
    box-shadow:  8px 8px 16px #3a536d,
             -8px -8px 16px #8cc5ff;
}